/*------------------------ Footer ------------------------*/
.main-footer {
  grid-area: footer-mid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Piazzolla", sans-serif;
  margin-top: 2rem;
}

.main-footer ul {
  display: flex;
  list-style-type: none;
}

.main-footer li {
  padding: 2rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.main-footer a {
  text-decoration: none;
  color: #000;
  font-size: 300;
}
/*------------------------ End of Footer ------------------------*/

/* Portrait and Landscape */
@media screen and (min-width: 375px) and (max-width: 899px) {
  .main-footer li{
    font-size: 1.1rem;
  }
}