/*------------------------ Navigation Bar ------------------------*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  position: fixed;
  background-color: #fff;
  font-family: "Piazzolla", sans-serif;
  z-index: 1;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav-bar a {
  text-decoration: none;
}

/* Nav Left */
.nav-left {
  grid-area: nav-left;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 0.3rem double #000; */
}

.nav-left a {
  color: #000;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-left: 3.5rem;
  cursor: pointer;

}

/* Nav Right */
.nav-right {
  grid-area: nav-right;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 0.3rem double #000; */
}

.nav-right a {
  color: #000;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-right: 3.5rem;
  cursor: pointer;

}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: nav-mid;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: #000;
  cursor: pointer;

}

.cart-nav {
  position: fixed;
  top: 4rem;
  right: 1.4rem;
  font-size: 1.4rem;
}

.cart-nav-info {
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  visibility: hidden;
  z-index: 1;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  transition: 0.4s;
  transform: translateX(-100%);
  color: #fff;
  z-index: 2;
}

.menu-content {
  position: absolute;
  top: 40%;
  left: 7%;
}

.menu-content a {
  text-decoration: none;
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.close-menu {
  position: absolute;
  top: 4%;
  right: 12%;
  font-size: 1.3rem;
  cursor: pointer;
  text-transform: uppercase;
}

.menu-content a:hover,
.close-menu:hover {
  color: rgb(144, 151, 171, 0.85);
  transition: 0.7s;
}

.showMenu {
  transform: translateX(0%);
}

.blackBcg {
  visibility: visible;
}

.hidden {
  display: none;
}

/*------------------------ End of Navigation Bar ------------------------*/

/* Media Queries */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav-bar {
    background-color: purple;
  }
}
