/*------------------------ Common Styles ------------------------*/
* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  /* 10px / 16px(default font) = 0.625 */
  font-size: 62.5%;
}

/*------------------------ Shop page ------------------------*/
.shop-page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    ". . ."
    "content-left content-mid content-right"
    ". footer-mid .";
  grid-template-rows: 0 1fr 0.15fr;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  font-family: "Open Sans Condensed", sans-serif;
}

.shop-title {
  position: absolute;
  top: 11%;
  left: 5.5%;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
}
/*------------------------ End of Shop page ------------------------*/

/*------------------------ Shop Content ------------------------*/
.shop-content {
  grid-area: content-mid;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10%;
}
/*------------------------ End of Shop content------------------------*/

/*------------------------ Products Content  ------------------------*/
.products {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, auto));
  column-gap: 2rem;
  row-gap: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.product {
  display: block;
  cursor: pointer;
}

.product-img {
  width: 100%;
  min-height: 12rem;
  background-color: rgb(1, 1, 1, 0.025);
  border-radius: 1rem;
}

.product-img:hover {
  background-color: rgb(144, 151, 171, 0.15);
  transition: 0.5s;
}

.product-name {
  position: relative;
  left: 3%;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.product-price {
  position: relative;
  float: right;
  right: 3%;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.bag-btn {
  position: absolute;
  height: 3rem;
  top: 85%;
  right: 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transform: translateX(101%);
  transition: 0.4s;
  border: none;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  background-color: #1aa1f5;
  color: #fff;
  cursor: pointer;
}

.img-container:hover .bag-btn {
  transform: translateX(0%);
}

.bag-btn:hover {
  color: #000;
}

/*------------------------ End of Products content ------------------------*/

/*------------------------ Media Query ------------------------*/

/* Portrait and Landscape */
@media screen and (min-width: 375px) and (max-width: 899px) {
  .shop-content {
    top: 5%;
  }
}
