/*------------------------ Common Styles ------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: "Piazzolla", sans-serif;
  outline: none;
}

html {
  /* 10px / 16px(default font) = 0.625 */
  font-size: 62.5%;
}

/*------------------------ Main Page ------------------------*/
.main-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "nav-left nav-mid nav-right"
    "content-left content-mid content-right"
    "footer-left footer-mid footer-right";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}

/*------------------------ Main Content ------------------------*/
.main-content {
  grid-area: content-mid;
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
}

.main-content-img {
  display: flex;
  height: 700px;
  width: 100%;
  margin-top: 10rem;
}

.main-content-img:first-child {
  /* Applies 0 margin to the first div */
  margin-top: 0rem;
}

.main-content-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Main-Content Left */
.main-content-left {
  grid-area: content-left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 45%;
  left: 3.5%;
}

.main-content-left h1 {
  font-size: 3rem;
  color: #000;
}

.main-content-left p {
  font-size: 1.1rem;
}

/* Main-Content Right */
.main-content-right {
  grid-area: content-right;
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content-right h1 {
  font-size: 2rem;
  color: black;
}
/*------------------------ End of Main Content ------------------------*/
